@charset "urf-8";
*{
	margin: 0;
	padding: 0%;
	font-family: 'IBM Plex Sans Arabic', sans-serif;
}

.container{
	height: 100vh;
	width: 100vh;
	background-image: url("images/background_outline_padding_6x9.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.logo img{
	overflow: hidden;
	width: 8%;
	margin: 5.5% 19%;
}

.header  h1{
	font-size: 200%;
	font-weight: 100;
	text-align: center;
	
}

.header  p{
	font-size: 120%;
	font-weight: 100;
	text-align: center;
}

.header{
	margin-left: 0%; 
	margin-top: -17%;
}


.category{
	font-size: 120%;
	font-weight: 110;
	text-align: center;
	padding-top: 2.5%;
}

.drink{
	font-size: 100%;
	font-weight: 140;
	text-align: center;
	padding-top: 2%;
}
